:root {
  --primary-color: #475735;
  --primary-bg-color: #eef5cd;
  --h3-side-color: #DA895C;
  --main-header-color: #582c18;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: var(--primary-bg-color);
}


/* main */


.main {
    display: flex;
    flex-direction: row-reverse;
    width: 800px; 
    margin: 0 auto; 
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

.base_info{
    padding-top: 50px;
    padding-left: 90px;
    padding-right: 150px;
}

.base_position {
    color: var(--primary-color);
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 17px;
}

.base_name_surname {
    color: var(--main-header-color);
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 55px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.base_short_info {
    font-size: smaller;
    color: #000000;
    width: 400px;
}

.expiriences {
    margin-top: 40px;
    margin-right: 40px;
    padding-left: 90px;
}

.tech_type {
    color: #163b3b;
}

.main_h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: var(--primary-color);
}

.expirience_place {
    color: var(--main-header-color);
}

.numerred_list_main {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    padding: 0;
    margin-left: 10px;
}

.a_main {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #163b3b;
}

.qualifications {
    margin-top: 40px;
    margin-right: 40px;
    padding-left: 90px;
}

.h4_main {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 15px;
}

/* .work_position {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
    margin-top: 5px;
    margin-bottom: 10px;
} */

.time_interval {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin-top: 2px;
}

/* .sep_line {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #1a1919;
} */

/* .ul_main {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    padding: 0;
    margin-left: 15px;
} */



.education {
    margin-top: 40px;
    padding-left: 90px;
    padding-bottom: 60px;
}

.h3_education {
    margin-bottom: 10px;
}

.education_profile{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}





/* sidebar */


aside{
    background-color: var(--primary-color);
    margin-left: 30px;
    padding-top: 30px;
}

.img_as {
    width: 230px;
    margin-bottom: 0px;
}

.contacts, .techskills, .softskills {
    margin-left: 20px;
    margin-top: 0px;
    color: var(--primary-bg-color);
}
.contacts, .techskills {
    margin-bottom: 45px;
}

.contacts {
    font-size: 16px;
    margin-right: 5px;
}

.a_as {
    color: var(--primary-bg-color);
    font-size: 16px;
}

.h3_as {
    color: var(--h3-side-color);
    margin-bottom: 2px;
    /* margin-right: 3px ; */

}

.ul_as {
    color: var(--primary-bg-color);
    padding: 0;
    margin-left: 20px;
    font-size: 16px;
}
.li_as {
    color: var(--primary-bg-color);
}

.li_txt_as {
    color: var(--primary-bg-color);
    font-size: 16px;
}