body {
    font-family: 'Nunito', sans-serif;
    background-color: rgb(230, 241, 227);
}


/* main */


.main {
    display: flex;
    flex-direction: row-reverse;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

.info{
    padding-top: 100px;
    padding-left: 90px;
    padding-right: 150px;
}

.info1 {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}

.info2 {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.info3 {
    font-size: smaller;
    color: rgba(78, 81, 83, 0.952);
    max-width: 100%;
}

.projects {
    margin-top: 40px;
    padding-left: 90px;
}

.tech_type {
    color: #163b3b;
}

.main_h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
}

.ol_prj {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    padding: 0;
    margin-left: 10px;
}

.a_main {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #163b3b;
}

.work {
    margin-top: 40px;
    padding-left: 90px;
}

.h4_main {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 15px;
}

.work_position {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
    margin-top: 5px;
    margin-bottom: 10px;
}

.time_interval {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin-top: 2px;
}

.sep_line {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #1a1919;
}

.ul_main {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    padding: 0;
    margin-left: 15px;
}



.education {
    margin-top: 40px;
    padding-left: 90px;
}

.h3_education {
    margin-bottom: 10px;
}

.education_profile{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}



/* sidebar */


aside{
    background-color: rgb(0, 24, 3);
    margin-left: 30px;
    padding-top: 30px;
}

.img_as {
    width: 230px;
    margin-bottom: 20px;
}

.contacts, .techskills, .softskills {
    margin-left: 20px;
}
.contacts, .techskills {
    margin-bottom: 45px;
}

.cont_class {
    color: azure;
    font-size: 15px;
    margin-right: 5px;
}

.a_as {
    color: rgb(191, 255, 210);
    font-size: 15px;
}

.h3_as {
    color: azure;
    margin-bottom: 2px;
    /* margin-right: 3px ; */

}

.ul_as {
    color: azure;
    padding: 0;
    margin-left: 17px;
    font-size: 15px;
}
.li_as {
    color: rgb(243, 74, 22);
}

.li_txt_as {
    color:azure;
    font-size: 15px;
}